body{
    font-family: "Public Sans", sans-serif;
    font-size: 16px;
    background-color: #E5E5E5;
    color: #171717;
    margin: 0 10%;
  }
  
  h1{
    margin: 64px 0 79px 0;
    font-weight: 700;
    font-size: 24px;
  }
  
  .note{
    font-size: 14px;
    margin-bottom: 24px;
  }
  
  .red{
    color: red;
  }

  p{
    display:flex;
    flex-direction: column;
    width: 45%;
  }
  
  .blue{
    color: #0050D8;
  }

  .regnomb{
    width: 100%;
  }

  .regnomb .inp{
    color: #0050D8;
    width: 45%;
  }
  
  h2{
    font-size: 20px;
    font-weight: 700;
    margin: 32px 0;
  }
  
  [readonly]{
    background: #EFEFEF;
  }
  
  .content{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  
  div.content div{
    width: 40%;
    margin-bottom: 20px;
  }
  
  .inp{
    min-width: 45%;
    box-sizing: border-box;
    margin-top: 10px;
    padding: 9px 10px;
    border: 1px solid black;
  }
  
  .inp_bg{
    background-image: url(../img/arrow.svg);
    background-repeat: no-repeat;
    background-position: right 5px top 5px;
  }

  .inp_date{
    background-image: url(../img/date.svg);
    background-repeat: no-repeat;
    background-position: right 5px top 5px;
  }
  
  .check{
    display: flex;
    margin-top: 30px;
    width: 45%;
    align-items: center;
    flex-direction: row;
    
  }

  .check input{
    border: 1px solid black;
    width: 24px;
    height: 24px;
  }

  .line{
    border-bottom: 1px solid #D1D1D1;
    width: 100%;
    margin: 32px 0;
  }

  .inp_search{
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-position: right 5px top 5px;
  }
  
  .btn{
    display: flex;
    justify-content: right;
  }
  
  .button{
    color: white;
    width: 69px;    
    border-radius: 4px;
    margin-bottom: 32px;
    height: 40px;
    background-color: #0050D8;
    border: none;
    position: left;
  }
  